#### Handling Imbalanced Dataset with Machine Learning

In [ ]:
import pandas as pd
df=pd.read_csv('ais_disabling_events_main_only_imp_col_csv.csv')
df.head()

,vessel_class,gap_hours,iuu_caught,spherical_distances,eez_check,Ocean List New whose false were in OG
0,other,13.016667,0,207.942845,0,atlantic
1,other,13.850000,0,9.704232,0,atlantic
2,other,33.733333,0,10.789069,1,atlantic
3,other,30.650000,0,11.695860,1,atlantic
4,other,50.283333,0,93.113335,1,atlantic

In [ ]:
df.shape

(55368, 6)

In [ ]:
df['iuu_caught'].value_counts()

0    55268
1      100
Name: iuu_caught, dtype: int64

In [ ]:
#### Independent and Dependent Features
X=df.drop("iuu_caught",axis=1)
y=df.iuu_caught

### One Hot Encoding

In [ ]:
print(df['vessel_class'].unique())
print(df['Ocean List New whose false were in OG'].unique())

['other' 'trawlers' 'squid_jigger' 'tuna_purse_seines'
 'drifting_longlines']
['atlantic' 'southern' 'mediterranean' 'arctic' 'pacific' 'Pacific'
 'FALSE' 'indian']

In [ ]:
print(df['vessel_class'].value_counts())
print(df['Ocean List New whose false were in OG'].value_counts())

drifting_longlines    18641
squid_jigger          16021
tuna_purse_seines      8620
trawlers               7913
other                  4173
Name: vessel_class, dtype: int64
pacific          17108
atlantic         16469
Pacific          14762
indian            6176
arctic             499
FALSE              227
southern           116
mediterranean       11
Name: Ocean List New whose false were in OG, dtype: int64

In [ ]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['vessel_class', 'Ocean List New whose false were in OG'])
print(one_hot_encoded_data.head())

   gap_hours  iuu_caught  spherical_distances  eez_check  \
0  13.016667           0           207.942845          0
1  13.850000           0             9.704232          0
2  33.733333           0            10.789069          1
3  30.650000           0            11.695860          1
4  50.283333           0            93.113335          1

   vessel_class_drifting_longlines  vessel_class_other  \
0                                0                   1
1                                0                   1
2                                0                   1
3                                0                   1
4                                0                   1

   vessel_class_squid_jigger  vessel_class_trawlers  \
0                          0                      0
1                          0                      0
2                          0                      0
3                          0                      0
4                          0                      0

   vessel_class_tuna_purse_seines  \
0                               0
1                               0
2                               0
3                               0
4                               0

   Ocean List New whose false were in OG_FALSE  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

   Ocean List New whose false were in OG_Pacific  \
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0

   Ocean List New whose false were in OG_arctic  \
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0

   Ocean List New whose false were in OG_atlantic  \
0                                               1
1                                               1
2                                               1
3                                               1
4                                               1

   Ocean List New whose false were in OG_indian  \
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0

   Ocean List New whose false were in OG_mediterranean  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Ocean List New whose false were in OG_pacific  \
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0

   Ocean List New whose false were in OG_southern
0                                               0
1                                               0
2                                               0
3                                               0
4                                               0

In [ ]:
#### Independent and Dependent Features
X=one_hot_encoded_data.drop("iuu_caught",axis=1)
y=one_hot_encoded_data.iuu_caught

#### SMOTETomek

In [ ]:
y.value_counts()

0    55268
1      100
Name: iuu_caught, dtype: int64

In [ ]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='minority')
X_sm, y_sm = smote.fit_resample(X,y)

y_sm.value_counts()

0    55268
1    55268
Name: iuu_caught, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.2, random_state=15, stratify=y_sm)

In [ ]:
y_train.value_counts()

0    44214
1    44214
Name: iuu_caught, dtype: int64

In [ ]:
y_test.value_counts()

0    11054
1    11054
Name: iuu_caught, dtype: int64

In [ ]:
from xgboost import XGBClassifier

# Train the XGBoost model
xgb = XGBClassifier()
xgb.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb.predict(X_test)

from sklearn.metrics import confusion_matrix , classification_report

print("Classification Report: \n", classification_report(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.95      0.97     11054
           1       0.95      0.98      0.97     11054

    accuracy                           0.97     22108
   macro avg       0.97      0.97      0.97     22108
weighted avg       0.97      0.97      0.97     22108