#### Handling Imbalanced Dataset with Machine Learning

In [1]:
import pandas as pd
df=pd.read_csv('ais_disabling_events_main_only_imp_col_csv.csv')
df.head()

,vessel_class,gap_hours,iuu_caught,spherical_distances,eez_check,Ocean List New whose false were in OG
0,other,13.016667,0,207.942845,0,atlantic
1,other,13.850000,0,9.704232,0,atlantic
2,other,33.733333,0,10.789069,1,atlantic
3,other,30.650000,0,11.695860,1,atlantic
4,other,50.283333,0,93.113335,1,atlantic

In [2]:
df.shape

(55368, 6)

In [3]:
df['iuu_caught'].value_counts()

0    55268
1      100
Name: iuu_caught, dtype: int64

In [4]:
#### Independent and Dependent Features
X=df.drop("iuu_caught",axis=1)
y=df.iuu_caught

### One Hot Encoding

In [5]:
print(df['vessel_class'].unique())
print(df['Ocean List New whose false were in OG'].unique())

['other' 'trawlers' 'squid_jigger' 'tuna_purse_seines'
 'drifting_longlines']
['atlantic' 'southern' 'mediterranean' 'arctic' 'pacific' 'Pacific'
 'FALSE' 'indian']

In [6]:
print(df['vessel_class'].value_counts())
print(df['Ocean List New whose false were in OG'].value_counts())

drifting_longlines    18641
squid_jigger          16021
tuna_purse_seines      8620
trawlers               7913
other                  4173
Name: vessel_class, dtype: int64
pacific          17108
atlantic         16469
Pacific          14762
indian            6176
arctic             499
FALSE              227
southern           116
mediterranean       11
Name: Ocean List New whose false were in OG, dtype: int64

In [7]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['vessel_class', 'Ocean List New whose false were in OG'])
print(one_hot_encoded_data.head())

   gap_hours  iuu_caught  spherical_distances  eez_check  \
0  13.016667           0           207.942845          0
1  13.850000           0             9.704232          0
2  33.733333           0            10.789069          1
3  30.650000           0            11.695860          1
4  50.283333           0            93.113335          1

   vessel_class_drifting_longlines  vessel_class_other  \
0                                0                   1
1                                0                   1
2                                0                   1
3                                0                   1
4                                0                   1

   vessel_class_squid_jigger  vessel_class_trawlers  \
0                          0                      0
1                          0                      0
2                          0                      0
3                          0                      0
4                          0                      0

   vessel_class_tuna_purse_seines  \
0                               0
1                               0
2                               0
3                               0
4                               0

   Ocean List New whose false were in OG_FALSE  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

   Ocean List New whose false were in OG_Pacific  \
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0

   Ocean List New whose false were in OG_arctic  \
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0

   Ocean List New whose false were in OG_atlantic  \
0                                               1
1                                               1
2                                               1
3                                               1
4                                               1

   Ocean List New whose false were in OG_indian  \
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0

   Ocean List New whose false were in OG_mediterranean  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   Ocean List New whose false were in OG_pacific  \
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0

   Ocean List New whose false were in OG_southern
0                                               0
1                                               0
2                                               0
3                                               0
4                                               0

In [8]:
#### Independent and Dependent Features
X=one_hot_encoded_data.drop("iuu_caught",axis=1)
y=one_hot_encoded_data.iuu_caught

#### SMOTETomek

In [9]:
y.value_counts()

0    55268
1      100
Name: iuu_caught, dtype: int64

In [10]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='minority')
X_sm, y_sm = smote.fit_resample(X,y)

y_sm.value_counts()

0    55268
1    55268
Name: iuu_caught, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.2, random_state=15, stratify=y_sm)

In [12]:
y_train.value_counts()

0    44214
1    44214
Name: iuu_caught, dtype: int64

In [13]:
y_test.value_counts()

0    11054
1    11054
Name: iuu_caught, dtype: int64

In [14]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
from sklearn.metrics import confusion_matrix , classification_report
# from tensorflow_addons import losses


def ANN(X_train, y_train, X_test, y_test, loss, weights):
    model = keras.Sequential([
        keras.layers.Dense(26, input_dim=16, activation='relu'),
        keras.layers.Dense(15, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])
    
    if weights == -1:
        model.fit(X_train, y_train, epochs=50)
    else:
        model.fit(X_train, y_train, epochs=10, class_weight = weights)
    
    print(model.evaluate(X_test, y_test))
    
    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)
    
    print("Classification Report: \n", classification_report(y_test, y_preds))
    
    return y_preds

y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1)

Epoch 1/50
2764/2764 [==============================] - 10s 3ms/step - loss: 1.1827 - accuracy: 0.7951
Epoch 2/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.3273 - accuracy: 0.8949
Epoch 3/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.2867 - accuracy: 0.9126
Epoch 4/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.2379 - accuracy: 0.9219
Epoch 5/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.2470 - accuracy: 0.9212
Epoch 6/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.2284 - accuracy: 0.9241
Epoch 7/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.2016 - accuracy: 0.9285
Epoch 8/50
2764/2764 [==============================] - 8s 3ms/step - loss: 0.2047 - accuracy: 0.9306
Epoch 9/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1847 - accuracy: 0.9363
Epoch 10/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1659 - accuracy: 0.9414
Epoch 11/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1614 - accuracy: 0.9430
Epoch 12/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1618 - accuracy: 0.9444
Epoch 13/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1583 - accuracy: 0.9454
Epoch 14/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1508 - accuracy: 0.9497
Epoch 15/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1406 - accuracy: 0.9524
Epoch 16/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1379 - accuracy: 0.9545
Epoch 17/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1331 - accuracy: 0.9557
Epoch 18/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1302 - accuracy: 0.9567
Epoch 19/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1292 - accuracy: 0.9569
Epoch 20/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1249 - accuracy: 0.9579
Epoch 21/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1218 - accuracy: 0.9596
Epoch 22/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1177 - accuracy: 0.9599
Epoch 23/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1192 - accuracy: 0.9605
Epoch 24/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1124 - accuracy: 0.9625
Epoch 25/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1110 - accuracy: 0.9627
Epoch 26/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1089 - accuracy: 0.9631
Epoch 27/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1068 - accuracy: 0.9646
Epoch 28/50
2764/2764 [==============================] - 8s 3ms/step - loss: 0.1092 - accuracy: 0.9640
Epoch 29/50
2764/2764 [==============================] - 8s 3ms/step - loss: 0.1071 - accuracy: 0.9644
Epoch 30/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1032 - accuracy: 0.9665
Epoch 31/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.1027 - accuracy: 0.9661
Epoch 32/50
2764/2764 [==============================] - 9s 3ms/step - loss: 0.1042 - accuracy: 0.9660
Epoch 33/50
2764/2764 [==============================] - 9s 3ms/step - loss: 0.1003 - accuracy: 0.9665
Epoch 34/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0988 - accuracy: 0.9678
Epoch 35/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0971 - accuracy: 0.9685
Epoch 36/50
2764/2764 [==============================] - 8s 3ms/step - loss: 0.0992 - accuracy: 0.9675
Epoch 37/50
2764/2764 [==============================] - 8s 3ms/step - loss: 0.0947 - accuracy: 0.9690
Epoch 38/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0977 - accuracy: 0.9685
Epoch 39/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0962 - accuracy: 0.9683
Epoch 40/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0944 - accuracy: 0.9694
Epoch 41/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0931 - accuracy: 0.9696
Epoch 42/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0929 - accuracy: 0.9694
Epoch 43/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0954 - accuracy: 0.9690
Epoch 44/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0926 - accuracy: 0.9697
Epoch 45/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0930 - accuracy: 0.9698
Epoch 46/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0930 - accuracy: 0.9697
Epoch 47/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0924 - accuracy: 0.9701
Epoch 48/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0913 - accuracy: 0.9699
Epoch 49/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0914 - accuracy: 0.9704
Epoch 50/50
2764/2764 [==============================] - 7s 3ms/step - loss: 0.0919 - accuracy: 0.9705
691/691 [==============================] - 1s 2ms/step - loss: 0.0820 - accuracy: 0.9731
[0.08204352855682373, 0.9731318950653076]
691/691 [==============================] - 1s 1ms/step
Classification Report:
               precision    recall  f1-score   support

           0       0.99      0.95      0.97     11054
           1       0.96      0.99      0.97     11054

    accuracy                           0.97     22108
   macro avg       0.97      0.97      0.97     22108
weighted avg       0.97      0.97      0.97     22108